# Activar mod_rewrite

RewriteEngine On

# Evitar conflictos con directorios reales

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# Redirigir de .html a la URL sin extensión

RewriteCond %{THE_REQUEST} \s/([^.]+).html [NC]
RewriteRule ^ /%1 [R=301,L]

# Cargar automáticamente el archivo .html si existe

RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^([^.]+)$ $1.html [L]
